In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Data Analysis of the Nifty

In [4]:
nifty_df = pd.read_csv("../data/nifty_it_index.csv")

In [5]:
nifty_df.head()

         Date      Open      High       Low     Close    Volume      Turnover
0  2015-01-01  11214.80  11235.75  11166.35  11215.70   4246150  3.575100e+09
1  2015-01-02  11214.65  11399.10  11214.65  11372.10  10004862  9.645600e+09
2  2015-01-05  11369.35  11433.75  11186.95  11248.55   8858018  1.059000e+10
3  2015-01-06  11186.10  11186.10  10909.00  10959.90  12515739  1.364500e+10
4  2015-01-07  11013.20  11042.35  10889.55  10916.00  10976356  1.203440e+10